<!DOCTYPE html>
<html>
<head>
	<title>Xcoin Startpage</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/build/home.bundle.js"></script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
<div class="container">
	
	<div class="jumbotron text-center">
		<h1>Xcoin</h1>
		<br><br>
		<a class="btn btn-default" href="/tokenFactory"><span class="fa fa-plus-circle"></span>Make New Token</a>
		<a class="btn btn-default" href="/tokenSpace"><span class="fa fa-comments"></span>Enter Tokenspace</a>	
		<a class="btn btn-default" href="/about"><span class="fa fa-info"></span>Find Out More</a>
	</div>
</div>
</body>
</html>
	<!--	
	<select id="tokenList">
		<option value="" disabled="disabled" selected="selected">Choose Token to enter forum</option>
	</select>
-->
