<!DOCTYPE html>
<html>
<head>
	<title>This is the TokenSpace</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/build/tokenSpace.bundle.js"></script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
<div class="container">
	<div class="col-sm-6 clo-sm-offset-3">
		<h1><span class="fa fa-sign-in"></span>Login</h1>

		<% if (message.length > 0) { %>
			<div class="alert alert-danger"><%= message %></div>
		<% } %>

		<form action="/login" method="POST">

			<div class="form-group">
				<label>Username</label>
				<input type="text" class="form-control" name="username"> 	
			</div>
			
			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" name="password"> 	
			</div>
			
			<button type="submit" class="btn btn-warning">Login</button>
		</form>
		<hr>
		<p>Don't have an account yet? <a href="/signup">Sign up</a></p>
		<p>Or go back <a href="/">home</a>.</p>
	</div>
</div>
